<h1 class="ui header">
    Browse Recipes
</h1>

<div class="ui divider"></div>

<div class="ui icon input">
    <input
        placeholder="Search for Recipes..."
        type="text">
    <i class="search icon"></i>
</div>

{{#each recipes}}
    <div class="ui recipe segment" data-recipe-id="{{this.id}}">
        <div class="ui grid">
            <div class="three wide column">
                <img
                    src="{{this.imageUrl}}"
                    class="ui large image">
            </div>

            <div class="nine wide column">
                <div class="content">
                    <h3 class="recipe-name">{{this.name}}</h3>
                    v<div class="recipe-version">{{this.latestVersion}}</div>

                    <div class="ui divider"></div>

                    <p>
                    {{this.changeSummary}}
                    </p>
                </div>
            </div>

            <div class="right aligned four wide column">
                <div class="content">
                    <div class="recipe-last-updated">
                        Last Updated {{this.lastUpdated}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
