<div class="ui form">
    <div class="ui header">
        Update to Version <strong class="brand">2.4</strong>
    </div>

    <div class="ui divider"></div>

    <div class="small ui header">
        Recipe Description
    </div>

    <div class="fields">
        <div class="twelve wide field">
            <textarea
                placeholder="This is a recipe for a delicious..."
                >{{recipe.description}}</textarea>
        </div>
        <div class="four wide field">
            <div class="ui card">
                <div class="ui medium image">
                    <img src="{{recipe.imageUrl}}">
                </div>
                <div class="ui bottom attached button">
                    Upload New Image
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="small ui header">
        Ingredients
    </div>

    {{#each recipe.ingredients}}
        <div class="inline fields">
            <div class="three wide field">
                <input type="text" placeholder="{{amount}}" value="{{amount}}">
            </div>
            <div class="four wide field">
                <select class="ui dropdown">
                <option value="">tsp</option>
                <option value="1">tbsp</option>
                <option value="0">cup</option>
                </select>
            </div>
            <div class="eight wide field">
                <label>{{name}}</label>
            </div>
            <div class="one wide field">
                <i class="red remove circle icon"></i>
            </div>
        </div>
    {{/each}}

    <div class="ui positive right labeled icon button" id="add-ingr-btn">
        Add New Ingredient
        <i class="plus icon"></i>
    </div>

    <div class="ui divider"></div>

    <div class="field">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="small ui header"> Edit Instructions </div>
                <textarea
                    id="instructions-edit"
                    placeholder="1. Prepare the..."
                    ></textarea>
            </div>
            <div class="eight wide column">
                <div class="small ui header"> Preview </div>
                <div id="instructions-preview" class="instructions">
                </div>
                {{!-- <div id="instructions-preview" class="ui segment"> --}}
                {{!-- </div> --}}
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="field">
        <div class="small ui header">Change Summary</div>
        <textarea rows="2" placeholder="I removed/added some..."></textarea>
    </div>


    <div class="ui divider"></div>

    <div class="right aligned field">
        <div
            id="cancel-recipe-btn"
            class="ui basic large button">Cancel</div>
        <div
            id="update-recipe-btn"
            class="ui submit purple large button">Update Recipe</div>
    </div>

    <br>
    <br>
    <br>

</div>

<div class="ui modal small">
{{> new_ingredient_form}}
</div>
