<div class="ui form">
    <div style="text-align: right" class="ui header">
        Updating to Version <strong class="brand">2.4</strong>
    </div>

    <div class="ui divider"></div>

    <div class="small ui header">
        Recipe Description
    </div>
    <div class="fields">
        <div class="twelve wide field">
            <textarea
                placeholder="This is a recipe for a delicious..."
                >{{recipe.description}}</textarea>
        </div>
        <div class="four wide field">
            <div class="ui fluid card">
                <div class="ui medium fluid image">
                    <img src="{{recipe.imageUrl}}">
                </div>
                <div class="ui bottom attached button">
                    Upload New Image
                </div>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    {{!-- TODO: Make this look less wide and sad --}}
    <div class="small ui header">
        Ingredients
    </div>

    {{#each recipe.ingredients}}
        <div class="inline fields">
            <div class="three wide field">
                <input type="text" placeholder="{{amount}}" value="{{amount}}">
            </div>
            <div class="four wide field">
                <select class="ui dropdown">
                <option value="">tsp</option>
                <option value="1">tbsp</option>
                <option value="0">cup</option>
                </select>
            </div>
            <div class="eight wide field">
                <label>{{name}}</label>
            </div>
            <div class="one wide field">
                <i class="red remove circle icon"></i>
            </div>
        </div>
    {{/each}}
    <div class="small ui header">
        Add Ingredient to Recipe
    </div>
    <div class="inline fields ui form" id="add-ingr-form">
            <div class="three wide field">
                <input type="text" placeholder="{{amount}}" value="{{amount}}" name="amount">
            </div>
            <div class="four wide field" name="units">
                <select class="ui dropdown">
                <option value="">tsp</option>
                <option value="1">tbsp</option>
                <option value="0">cup</option>
                </select>
            </div>
            <div>
                <div class="ui fluid search selection dropdown" id="ingr-dropdown">
                    <input type="hidden" name="name">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Ingredient</div>
                    <div class="menu">
                        {{#each ingredients}}
                          <div class="item" data-value="{{name}}">{{name}}</div>
                        {{/each}}
                        <div class="item" id="add-ingr">
                            <i class="plus icon"></i>
                            Create New
                        </div>
                    </div>
                </div>
            </div>
            {{!-- TODO: margin on this button idk how to align this lol--}}
            <div class="ui right floated">
                <div
                    id="add-ingr-btn"
                    class="ui submit positive button">Add
                </div>
            </div>
    </div>

    <br>

    <div class="ui divider"></div>

    <br>

    <div class="field">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="small ui header"> Edit Instructions </div>
                <textarea
                    id="instructions-edit"
                    placeholder="1. Prepare the..."
                    ></textarea>
            </div>
            <div class="eight wide column">
                <div class="small ui header"> Preview </div>
                <div id="instructions-preview" class="instructions">
                </div>
                {{!-- <div id="instructions-preview" class="ui segment"> --}}
                {{!-- </div> --}}
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="field">
        <div class="small ui header">Change Summary</div>
        <textarea rows="2" placeholder="I removed/added some..."></textarea>
    </div>


    <div class="ui divider"></div>

    <div class="right aligned field">
        <div
            id="cancel-recipe-btn"
            class="ui basic large button">Cancel</div>
        <div
            id="update-recipe-btn"
            class="ui submit purple large button">Update Recipe</div>
    </div>

    <br>
    <br>
    <br>

</div>

<div class="ui modal small">
{{> new_ingredient_form}}
</div>
