{{> recipe_nav_header}}
<div class="ui divider"></div>

<h3 class="ui header">Overall Sales for {{recipe.name}}</h3>

<div>
    <img id="stats-x" class="stats-axis" src="img/stats_xaxis.png"></img>

    {{#each versions}}
        <img id="stats-v{{version}}" class="stats-img" data-version="{{version}}" data-summary="{{summary}}" src="img/stats_v{{version}}.png"></img>
    {{/each}}

    <img id="stats-y" class="stats-axis" src="img/stats_yaxis.png"></img>
</div>